#root {
	height: 100%;
}

#desktop-bg {
	position: fixed;
	inset: 50% 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.main-container.main-container {
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	padding: 2rem 1rem;
}

header {
	text-align: center;
	margin-bottom: 2rem;
}

.head-title-container {
	display: flex;
	flex-flow: row nowrap;

	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	filter: drop-shadow(0 0 0.05rem #121212);
}

.head-title-container h1 {
	margin: 0;
}

.head-title-container img {
	width: 2.5rem;
}

.login-title {
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.login-button.login-button {
	margin: 1.5rem 0;
}

.support-link {
	display: block;
	text-align: right;
}

.beta-info {
	text-align: center;
	margin: 2rem;
}

footer {
	display: flex;
	flex-flow: row nowrap;

	align-items: center;
	justify-content: space-between;

	filter: drop-shadow(0 0 0.05rem #121212);
}

footer a {
	line-height: 0;
}